@model OpenGateLogistics.Models.proveedor

@{
    /**/

    ViewBag.Title = "Edit";
    Layout = null;
}
<script src="~/Scripts/Proveedores.js"></script>


@using (Html.BeginForm())
{
    <div class="modal-header">        
        <h3 class="modal-title">Editar Proveedor</h3>
    </div>
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.id)

    <div class="modal-body">
        <div class="row">
            <div class="col-lg-12">
                @Html.LabelFor(model => model.RazonSocial, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.RazonSocial, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RazonSocial, "", new { @class = "text-danger" })
            </div>
            <div class="col-lg-6">
                <label>
                    RFC
                </label>
                @Html.EditorFor(model => model.RFC, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RFC, "", new { @class = "text-danger" })
            </div>
            <div class="col-lg-6">
                <label>
                    Categoria
                </label>
                @Html.DropDownList("CategoriaProveedor_Id", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CategoriaProveedor_Id, "", new { @class = "text-danger" })
            </div>
            <div class="col-lg-6">
                <label>
                    Nacionalidad
                </label>
                @Html.DropDownList("NacionalidadProveedor_Id", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.NacionalidadProveedor_Id, "", new { @class = "text-danger" })
            </div>
            <div class="col-lg-6">
                <label>
                    Estado
                </label>
                @Html.DropDownList("EstadoProveedor_Id", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.EstadoProveedor_Id, "", new { @class = "text-danger" })
            </div>
            <div class="col-lg-12" id="msg">                
            </div>   
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" onclick="Cerrar()"><span class="glyphicon glyphicon-remove-sign"></span> Cerrar</button>        
        <button id="btnGuardar" onclick="Guardar()" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span> Guardar</button>        
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}